<select name="features_types" id="features_types">
    <optgroup label="Global features">
    <option value="histogram">Histogram</option>
    <option value="gabor">Gabor Filter</option>
    <option value="hog">HOG</option>
    </optgroup>
    <optgroup label="Local features">
    <option value="sift">SIFT</option>
    </optgroup>
    <optgroup label="Deep Learning features">
        <option value="vgg">VGG</option>
    </optgroup>
    <optgroup label="Fusion">
        <option value="vgg">Histogram + gabor filter</option>
    </optgroup>
</select>