<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Retrieval</title>
</head>
<body>
    <div style="padding-left: 60px;">
        <h1>Image Retrieval</h1>
        <form action="" enctype='multipart/form-data' method='POST'>
            <input type="file" name="picture" style="margin-top:20px;"/>
            <br>
            <i>Upload your picture, please click here: </i>
            <input type="submit" value="upload" name="submit" class="button-new" style="margin-top:15px;"/>
            <br>
            <i>Select type of features: </i>
            <label for="types"></label>
            <select name="features_types" id="features_types">
                <option value="none">--None--</option>
                <optgroup label="Global features">
                <option value="hsv">HSV features</option>
                <option value="rgb">RGB Histogram</option>
                <option value="gabor">Gabor Filter</option>
                <option value="hog">HOG</option>
                </optgroup>
                <optgroup label="Local features">
                <option value="lbp">LBP</option>
                </optgroup>
                <optgroup label="Deep Learning features">
                    <option value="vgg">VGG</option>
                    <option value="vgg_pq">VGG with Product Quantization</option>
                </optgroup>
                <optgroup label="Annoy">
                    <option value="hsv_annoy">HSV with Annoy</option>
                    <option value="vgg_annoy">VGG with Annoy</option>
                </optgroup>
            </select>
            <br>
            <i>Start retrieval, please click here: </i>
            <input type="submit" value="retrieval" name="submit" class="button-new" style="margin-top:15px;"/>
        </form>
        <h3>{{message}}</h3>
        <img src="{{ url_for('static', filename= './upload_image/query.jpg') }}" width="400"/>
    </div>
</body>
</html>
